<div class="wrapper">
<!--  <div>{{clickService.user.name}}</div>-->
<!--  <div>Observable: {{(clickService.user$ | async)?.name}}</div>-->
 <div style="color: red">Outer component </div>
  <div>set values using service</div>
  <button style="color: green" (click)="clickService.nextUser('new value')">Emit new value from BehaviorSubject</button>
  <button style="color: blueviolet" (click)="clickService.setUserSignal('New prop')">Set new reference type value of Signal</button>
  <button style="color: blue" (click)="clickService.setSimpleSignal()">Set new primitive value of Signal</button>
  <app-intermediary></app-intermediary>
  {{blink()}}
</div>
<router-outlet></router-outlet>
