<div class="wrapper">
<!--  <div>{{clickService.user.name}}</div>-->
<!--  <div>Observable: {{(clickService.user$ | async)?.name}}</div>-->
 <div style="color: blue"> Them most outer component </div>
  <button (click)="clickService.nextUser('new emitted value')">Set new value via Subject</button>
  <button (click)="clickService.setUserSignal('New prop')">Set new reference type value via Signal</button>
  <button (click)="clickService.setSimpleSignal()">Set new primitive value via Signal</button>
  <app-wrapper></app-wrapper>
  {{blink()}}
</div>
<router-outlet></router-outlet>
