<div class="wrapper">
  <div style="color: red"> Child component </div>
<div>Read values from service</div>
  <hr>
  <!--<button (click)="clickService.setUserName('New user')" >set Name</button>-->
<!--<button (click)="clickService.nextUser('Obs user')">next user</button>-->
<div>Observable value (with async pipe) : <span style="color: green">{{(clickService.user$ | async)?.name}}</span> </div>
<div>Signal's value - object: <span style="color: blueviolet">{{clickService.userSig().name}}</span></div>
  <div>Signal's value - primitive: <span style="color: blue"> {{clickService.simpleValueSig()}}</span></div>
{{blink()}}
</div>
